vendor/

# Wordpress files #
###################
readme.html
license.txt
content/uploads/*
content/upgrade/*
content/wonolog/*
public/wp-config.php
wp-config-sample.php
wp-security-keys.php
db/base-install-dump.sql